@tailwind base;
@tailwind components;
@tailwind utilities;


/* ! scrollbar */
body::-webkit-scrollbar {
  width: 0px;
  /* width of the entire scrollbar */
}



body::-webkit-scrollbar-track {
  background: #b4bbd4;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #29429F;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #29429F;
  /* creates padding around scroll thumb */
}





/* !others */
.rs-modal-wrapper {
  display: flex;
  position: fixed;
  align-items: center;
}

.rs-picker-toggle {

  border-radius: 0px !important;

}

.rs-btn-lg {
  background-color: #29429F !important;
  color: white !important;
}

.rs-modal-content {
  border-radius: 0 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* rs date picker button */
.rs-btn-primary {
  background-color: #3498ff !important;
}

/* ReactQuill css overwrite */
.ql-toolbar {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.ql-container {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.responsive-content-loader {
  width: 100%;
  max-width: 1100px;
  /* Set your maximum content width */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}


/* pop over */
.rs-popover {

  border-radius: 15px !important;

  padding: 0px !important;

}

/* r suit input */
.rs-input {
  border-radius: 0px !important;
}

/*  r suit input number */
.rs-input-group {
  border-radius: 0px !important;
}



/* Apply styles when the Input component gains focus */
/* .rs-input:focus {
  border-color: #00f !important;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5) !important;
}

.rs-input:hover {
  border-color: rgba(0, 0, 255, 0.445) !important;

} */


/* scrollbar hide modal */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px !important;
  /* Adjust the width as needed */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0252dd !important;
  /* Adjust the color as needed */
  border-radius: 4px;
  /* Adjust the border radius as needed */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #cbd5e0;
  /* Adjust the background color as needed */
}